body {
  overflow-x: hidden;
  font-family: 'Open Sans', sans-serif;
}

header {
  background-color: #fff;
  height: 70px;
}

main {
  background-color: bisque;
  height: 2200px;
}

footer {
  background-color: black;
  height: 300px;
}

/* Common styles */

.flex {
  display: flex;
}

.float-right {
  float: right;
}

.grid {
  display: grid;
}

.white-text {
  color: #fff;
}

.gray-text {
  color: rgb(104, 100, 100);
}

/* nav-bar section */

.non-fixed {
  height: 30px;
  align-items: center;
  background-color: #000;
}

.non-fixed1 {
  flex: 70%;
}

.non-fixed2 {
  flex: 30%;
}

.non-fixed1 ul,
.non-fixed2 ul {
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-left: 0;
}

.non-fixed2 li {
  position: relative;
  left: 190px;
}

.non-fixed1 li {
  position: relative;
  left: -30px;
}

.non-fixed1 li,
.non-fixed2 li {
  list-style: none;
  padding: 0 5px;
}

.non-fixed1 li a,
.non-fixed2 li a {
  font-size: 13px;
  text-decoration: none;
  color: gray;
}

.fixed1 {
  width: 100%;
  height: 40px;
  border-bottom: 1px solid rgb(185, 181, 181);
  z-index: 2;
  background-color: #fff;
}

.fixed1 ul {
  position: relative;
  left: -30px;
  border-right: 1px solid gray;
}

.fa-search {
  float: right;
  position: relative;
  top: -40px;
  right: 30px;
  font-size: 25px;
  color: gray;
}

.fixed1 li {
  list-style: none;
  padding: 0 7px;
}

.fixed1 ul li a {
  font-size: 14px;
  text-decoration: none;
}

/* main section */

/* Main Gallery section */

.gallery {
  margin: 30px 10px;
  grid-template-columns: 70% 30%;
  grid-auto-rows: 550px;
  grid-gap: 10px;
}

.post1 {
  background-image: linear-gradient(to bottom, rgba(241, 13, 13, 0.52), rgba(202, 90, 45, 0.73), rgba(41, 38, 38, 0.52), rgba(14, 13, 13, 0.52)), url("./image/galleryimg1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.post1 .date {
  float: right;
  margin-right: 20px;
}

.post1 img {
  width: 450px;
  margin-top: 20px;
  margin-left: 20px;
}

.post1 .p1-details {
  position: relative;
  top: 200px;
  left: 15px;
}

.post1 .p1-details .world {
  position: relative;
  top: 30px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;
}

.world a {
  text-decoration: none;
}

.post1 .p1-details h1 {
  width: 90%;
  font-size: 46px;
  line-height: 56px;
}

.post1 .p1-author {
  position: relative;
  top: -25px;
  font-size: 12px;
  line-height: 16px;
  color: rgba(255, 255, 255, 0.6);
}

.post2 {
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 10px;
}

.post2a {
  background-image: linear-gradient(to bottom, rgba(29, 28, 28, 0.52), rgba(14, 13, 13, 0.73)), url("./image/galleryimg2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.p2-details {
  position: relative;
  top: 120px;
  left: 15px;
}

.p2-details .tech {
  position: relative;
  top: 20px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;
}

.p2-details .tech a {
  text-decoration: none;
}

.p2-details h2 {
  width: 90%;
  font-size: 22px;
  line-height: 31px;
}

.p2-author {
  position: relative;
  top: -15px;
  font-size: 12px;
  line-height: 16px;
  color: rgba(255, 255, 255, 0.6);
}

.post2b {
  background-image: linear-gradient(to bottom, rgba(29, 28, 28, 0.52), rgba(14, 13, 13, 0.73)), url("./image/galleryimg1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* size2 section */

.size2 {
  background-color: darkmagenta;
  width: 90%;
  margin: auto auto;
}

/* Latest News Section */

.latest-news {
  background-color: darkkhaki;
  height: 300px;
}

.latest-articles {
  grid-template-columns: repeat(2, 1fr);
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
  row-gap: 20px;
  height: 100px;
  background-color: deeppink;
}

.art1 {
  background-color: dimgray;
}

.art2 {
  background-color: forestgreen;
}

.art3 {
  background-color: fuchsia;
}

.art4 {
  background-color: greenyellow;
}

/* latest-funding */
.latest-funding {
  background-color: chocolate;
  height: 300px;
}

.funding-articles {
  background-color: green;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  grid-auto-rows: 100px;
}

.f1 {
  background-color: cornflowerblue;
}

.f2 {
  background-color: silver;
}

.f3 {
  background-color: red;
}

.f4 {
  background-color: skyblue;
}

/* most-popular */
.most-popular {
  background-color: brown;
  height: 900px;
}

.mp {
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  grid-auto-rows: 280px;
}

.mp1 {
  background-color: greenyellow;
}

.mp2 {
  background-color: greenyellow;
}

.mp3 {
  background-color: greenyellow;
}

.mp4 {
  background-color: greenyellow;
}

.mp5 {
  background-color: greenyellow;
}

.mp6 {
  background-color: greenyellow;
}

.mp7 {
  background-color: greenyellow;
}

.mp8 {
  background-color: greenyellow;
}

.mp9 {
  background-color: greenyellow;
}

.latest-deals {
  height: 500px;
}

.deals {
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  grid-auto-rows: 200px;
}

.d1 {
  background-color: grey;
}

.d2 {
  background-color: grey;
}

.d3 {
  background-color: grey;
}

.d4 {
  background-color: grey;
}

.d5 {
  background-color: grey;
}

.d6 {
  background-color: grey;
}

.d7 {
  background-color: grey;
}

.d8 {
  background-color: grey;
}

@media screen and (max-width: 767px) {
  .grid {
    display: block;
  }

  .funding-heading {
    display: unset;
  }
}

@media screen and (max-width: 1023px) {
  main {
    height: 3200px;
  }

  .latest-articles,
  .deals {
    grid-template-columns: repeat(3, 1fr);
  }

  .hide {
    display: none;
  }

  .funding-articles {
    grid-template-columns: repeat(3, 1fr);
  }

  .latest-deals {
    height: 800px;
  }

  .most-popular {
    height: 1500px;
  }

  .mp {
    grid-template-columns: repeat(2, 1fr);
  }
}
