@media screen and (min-width: 768px) and (max-width: 1023px) {
  .hide {
    display: none;
  }

  main {
    height: 590.2vh;
  }

  /* nav-bar */

  .non-fixed2 {
    display: none;
  }

  .fixed1 ul {
    display: flex;
    position: relative;
    left: -4.08vw;
    top: -20px;
  }

  .non-fixed {
    width: 85%;
    float: right;
    height: 3.8vh;
    align-items: center;
    background-color: #000;
  }

  .fixed1 {
    display: flex;
    width: 100%;
    height: 4.07vh;
    border-bottom: 1px solid rgb(53, 51, 51);
    z-index: 2;
    background-color: #fff;
    margin-top: -17px;
  }

  .fixed1 li {
    list-style: none;
    padding: 15px 0.75vw;
  }

  .fa-search {
    display: none;
  }

  .nav-img {
    background-size: cover;
    position: relative;
    top: -50px;
    width: 90px;
    background-color: red;
    height: 32px;
    display: inline;
    padding: 30px 20px;
  }

  /* Gallery Section */

  .gallery {
    width: 98%;
    margin: -3.8vh 0.69vw;
    grid-template-columns: 70% 30%;
    grid-auto-rows: 29.7vh;
    grid-gap: 0.69vw;
  }

  .post2 {
    grid-gap: 0.5vh;
  }

  .post1 .p1-details {
    position: relative;
    top: 9.34vh;
    left: 1.04vw;
  }

  .post1 .p1-details h1 {
    width: 90%;
    font-size: 2em;
    line-height: 4.09vh;
    padding: 15px 0;
  }

  .p2-details {
    position: relative;
    top: 1.8vh;
    left: 1.04vw;
  }

  .post2a,
  .post2b {
    height: 14.5vh;
  }

  .p2-details .tech {
    position: relative;
    top: 2.5vh;
    font-size: 0.5em;
    line-height: 2.67vh;
    font-weight: 500;
  }

  .p2-details h2 {
    width: 90%;
    font-size: 0.8em;
    line-height: 1.9vh;
    padding: 7px 0;
  }

  /* latest articles */

  .size2 {
    background-color: white;
    width: 95%;
    margin: auto auto;
  }

  .latest-news {
    margin-top: 5.67vh;
    height: 65.38vh;
  }

  .latest-articles {
    grid-gap: 10px;
  }

  .latest-articles img {
    width: 100%;
    height: 12.01vh;
    background-size: cover;
  }

  .latest-articles .fig {
    width: 100%;
    position: relative;
    margin-left: 0;
    font-size: 0.75em;
    line-height: 2vh;
    font-weight: 700;
  }

  .ld p {
    flex: 25%;
  }

  .footer1 p {
    margin-top: 45px;
  }

  .latest-articles .fig p {
    margin-top: -3px;
  }

  .latest-articles,
  .deals {
    grid-template-columns: repeat(3, 1fr);
  }

  /* funding articles section */
  .funding-articles {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 28.02vh;
  }

  .f1nav img {
    height: 6.87vh;
    width: 60px;
    margin-left: 1.4vw;
    margin-top: -0.64vh;
  }

  .latest-funding {
    height: 54.03vh;
  }

  .funding-heading,
  .funding-heading ul {
    display: unset;
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
  }

  .line {
    border-right: 0;
  }

  .funding-heading ul li {
    margin: 10px 0;
  }

  .f1text {
    height: 7.6vh;
  }

  .f1nav h2,
  .f1text .amount,
  .f1text .title {
    margin-left: 90px;
  }



  /* most popular */

  .most-popular {
    height: 360.51vh;
    margin-top: -90px;
  }

  .mp {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 70.06vh;
  }

  .mp-img {
    height: 25.02vh;
  }

  .heading-mp {
    top: 12.81vh;
  }

  .heading-mp h4 a {
    font-size: 1em;
    line-height: 2.8vh;
    text-decoration: none;
  }

  .mp1-latest {
    height: 10.67vh;
    margin-top: 0.38vh;
    background-color: rgb(252, 233, 230);
  }

  .mp1-links li a {
    text-decoration: none;
    font-size: 0.8em;
    line-height: 2vh;
    color: rgb(98, 98, 98);
  }

  /* latest deals */

  .latest-deals {
    height: 80.37vh;
  }

  .deals {
    grid-auto-rows: 20.02vh;
    grid-gap: 20px;
  }

  .cap1 h3 {
    font-size: 0.9em;
  }

  .d1 .cap1 p {
    font-size: 0.7em;
  }

  /* footer section */

  footer {
    height: 28vh;
  }

  .social-icons {
    height: 15.35vh;
  }

  .social-ul2 {
    justify-content: center;
    position: relative;
    top: 7.14vh;
  }

  .footer1 {
    height: 10vh;
    width: 100%;
    text-align: center;
    margin-top: -5px;
  }
}
